@charset "utf-8"; /*　*/
/* RESET*/
@import "lib/yuireset_3.18.1";
/* PROJECT SET*/
@import "projectset";
@import "util/basefix";
/* LIBRALY*/


/** ==================================================*/
/*	SetBody*/
/*================================================== *//**/
html,body {
	width: 100%;
	height: auto;
	color: $black;
}
body {
	font-weight: 500;
	-webkit-text-size-adjust: 100%;
	font-feature-settings: 'palt' 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $black;
	word-break: break-all;
	line-height: 2.6;
	letter-spacing: .25em;
}
a {
	color: inherit;
	text-decoration: none;
}
::selection {
	background: $black;
	color: $white;
}
::placeholder {
	color: $gray;
}


/** FontSet---------------------------------------- *//**/
html {
	@include fontset_html_ja;
	body { @include fontset_body_ja;}
}
html[lang="en"] {
	@include fontset_html_en;
	body { @include fontset_body_en;}
}
@media (max-width: $InnerMaxWidth_tb) {
	html {
		body {
			font-size: 1.3rem;
		}
	}
}
@media (max-width: $InnerMaxWidth_sp) {
	html {
		body {
			font-size: 1.2rem;
		}
	}
}


/** ==================================================*/
/*	Z-index*/
/*	100: base(.page-wrap)*/
/*		1: lower*/
/*		50: contents*/
/*		100: middler*/
/*		200: upper*/
/*		300: topper*/
/*		500 ~ 999: parts*/
/*	1000: header*/
/*================================================== *//**/

/** wap*/
/**------------------------------------------------------------------------------*//**/
.page-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
@media (max-width: $InnerMaxWidth_tb) {
	.page-wrap {
	}
}

.page-form {
	width: 600px;
}

h1 {
	text-align: center;
	font-size: 3.0rem;
}

.style--text-link {
	text-decoration: underline;
	position: relative;
	padding-left: 1em;
	display: inline;
	line-height: 1.6;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	&::before {
		content: "";
		width: 0;
		height: 0;
		border-top: .25em solid transparent;
		border-right: .25em solid transparent;
		border-bottom: .25em solid transparent;
		border-left: .4em solid $purple;
		display: block;
		position: absolute;
		top: .6em;
		left: 0;
		transition: all $fast;
	}
	&:hover {
		&::before {
			left: .15em;
		}
	}
	&.disactive {
		opacity: .7;
		pointer-events: none;
		text-decoration: none;
		&:hover {
			&::before {
				left: 0;
			}
		}
	}
	&.no-icon {
		display: inline;
		padding-left: 0;
		&::before {
			display: none;
		}
		&:hover {
			text-decoration: none;
		}
	}
}

.style--column {
	display: flex;
	justify-content: center;
}
.style--column-item {
	margin: 0 8px;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}

.form-btn {
	border-radius: 4px;
	padding: 8px 16px;
	margin: auto;
	background: #77b9ff;
	color: #fff;
	font-size: 1.3rem;
	display: block;
	transition: all 200ms;
	&:hover {
		opacity: .7;
	}
}

.parsley-errors-list {
	color: #ff7777;
	font-size: 1.1rem;
}

/** ==================================================*/
/*	Common Layout*/
/*================================================== *//**/



/** ==================================================*/
/*	animation Effects*/
/*================================================== *//**/


/** ==================================================*/
/*	page include*/
/*================================================== *//**/
@import "_pages/index";
