<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="format-detection" content="telephone=no">
<title>Form validate</title>
<link rel="stylesheet" href="/assets/styles/core.css">
</head>
<body id="page--index">
	<div class="page-wrap">
		<main id="app" class="page-main">
			<h1>Form validate</h1>

			<form id="js--form" name="myform">
				<div class="form-row">
					Name <span class="form-require-icon">*</span><br>
					<input type="text" placeholder="Obukata Kensei" class="form-control" v-model="text" name="text" v-validate="'required'" data-vv-as="名前">
				</div>

				<div class="form-row">
					Mail <span class="form-require-icon">*</span>　<span class="form-control-feedback" v-show="errors.has('email')">有効なメールアドレスではありません</span><br>
					<div class="form-input-wrap">
						<input type="email" placeholder="example@example.com" class="form-control" v-model="email" name="email" v-validate="'required|email'" data-vv-as="メールアドレス">
					</div>
				</div>

				<div class="form-row">
					Sex <span class="form-require-icon">*</span><br>
					<label><input type="radio" name="sex"><span class="check-box"><span class="check-box-icon"></span></span>Male</label>
					<label><input type="radio" name="sex"><span class="check-box"><span class="check-box-icon"></span></span>Female</label><br>
				</div>

				<div class="form-row">
					Check <span class="form-require-icon">*</span><br>
					<label><input type="checkbox" name="check"><span class="check-box"><span class="check-box-icon"></span></span>Type1</label>
					<label><input type="checkbox" name="check"><span class="check-box"><span class="check-box-icon"></span></span>Type2</label><br>
				</div>

				<div class="form-row">
					Text <span class="form-require-icon">*</span><br>
					<textarea name="" id="" cols="30" rows="10"></textarea>
					<button id="js--form-submit" name="btn" type="submit">Send</button>
				</div>

			</form>
		</main>
	</div>

</body>
<script src="/assets/scripts/bundle.js"></script>
</html>
